# 忽略图片文件夹
picture/最新消息图片/*.png
picture/最新消息图片/*.jpg
picture/最新消息图片/*.webp

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Build files
dist/
build/

# SSH keys
ssh-keygen* 