// bento 50
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-50
                .bento-50__main
                    img(src="img/bento-50-main.svg" alt="")
                .bento-50__monitor
                    .bento-50__lines
                        img(src="img/bento-50-lines.svg" alt="")
                    .bento-50__screen
                        .bento-50__check
                            img(src="img/bento-50-check.svg" alt="")
                        .bento-50__boxes
                            .bento-50__box
                                .bento-50__letter A
                            .bento-50__box
                                .bento-50__letter B
                    .bento-50__stand
                        .bento-50__foot
        .bento__details
            .bento__title AI Design Assist
            .bento__content Enhance your design projects with AI tools for creativity and efficiency.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle