// bento 36
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-36
                .bento-36__grid
                    img(src="img/bento-36-grid.svg" alt="")
                .bento-36__polygons
                    .bento-36__top
                        .bento-36__polygon
                            img(src="img/bento-36-polygon-top-1.svg" alt="")
                        .bento-36__polygon
                            img(src="img/bento-36-polygon-top-2.svg" alt="")
                    .bento-36__bottom
                        .bento-36__polygon
                            img(src="img/bento-36-polygon-bottom-1.svg" alt="")
                        .bento-36__polygon
                            img(src="img/bento-36-polygon-bottom-2.svg" alt="")
                        .bento-36__polygon
                            img(src="img/bento-36-polygon-bottom-3.svg" alt="")
                .bento-36__square
                    .bento-36__toggle
                        img(src="img/bento-36-toggle.svg" alt="")
                    .bento-36__dots
                        img(src="img/bento-36-dots.svg" alt="")
                .bento-36__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 <br><br>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011
        .bento__details
            .bento__title AI-Driven Security
            .bento__content Safeguard sensitive data and protect against cyber threats with advanced AI.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle