// bento 42
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-42
                .bento-42__grid
                    img(src="img/bento-42-grid.svg" alt="")
                .bento-42__center
                    .bento-42__boxes
                        .bento-42__box
                            .bento-42__dots
                                .bento-42__circle
                                div
                                    .bento-42__dot
                                        img(src="img/bento-42-dots.svg" alt="")
                                    .bento-42__dot
                                        img(src="img/bento-42-dots.svg" alt="")
                            .bento-42__balls
                                .bento-42__line
                                    img(src="img/bento-42-line.svg" alt="")
                                div
                                    .bento-42__ball
                                        .bento-42__in
                                            span
                                    .bento-42__ball
                                    .bento-42__ball
                                    .bento-42__ball
                        .bento-42__box
                            .bento-42__lines
                                img(src="img/bento-42-lines.svg" alt="")
                            .bento-42__toggle
                                img(src="img/bento-42-toggle.svg" alt="")
        .bento__details
            .bento__title AI-Enhanced Analytics
            .bento__content Gain deep insights with AI-powered data analytics and visualization tools.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle