// bento 47
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-47
                .bento-47__main
                    img(src="img/bento-47-main.svg" alt="")
                .bento-47__center
                    .bento-47__boxes
                        .bento-47__box
                        .bento-47__box
                    .bento-47__block
                        .bento-47__inner
                            .bento-47__figure
                                img(src="img/bento-47-figure.svg" alt="")
                            .bento-47__dots
                                img(src="img/bento-47-dots.svg" alt="")
                        .bento-47__toggle
                            .bento-47__indicator
                                img(src="img/bento-47-toggle-indicator.svg" alt="")
                .bento-47__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 <br><br>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011
                .bento-47__status
                    .bento-47__lines
                        span
                        span
                        span
        .bento__details
            .bento__title Automated Financial Planning
            .bento__content Plan and manage finances effortlessly with AI automation.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle