// bento 55
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-55
                img(src="img/bento-55.svg" alt="")
                .bento-55__title AI
        .bento__details
            .bento__title AI Content Curator
            .bento__content Automatically curate and recommend high-quality content using AI.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle