// bento 49
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-49
                .bento-49__main
                    img(src="img/bento-49-main.svg" alt="")
                .bento-49__boxes
                    .bento-49__box
                    .bento-49__box
                        span
                    .bento-49__box
        .bento__details
            .bento__title AI Central Command
            .bento__content Central AI unit managing and optimizing connected hardware components.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle