// bento 34
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-34
                img(src="img/bento-34.svg" alt="")
                .bento-34__number 50%
        .bento__details
            .bento__title Upload Image
            .bento__content Upload your images effortlessly for AI processing and enhancements.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle