// bento 44
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-44
                .bento-44__main
                    img(src="img/bento-44-main.svg" alt="")
                .bento-44__smiles
                    .bento-44__smile
                        img(src="img/bento-44-smile-1.svg" alt="")
                    .bento-44__smile
                        .bento-44__in
                            img(src="img/bento-44-smile-2.svg" alt="")
                    .bento-44__smile
                        img(src="img/bento-44-smile-3.svg" alt="")
                .bento-44__monitor
                    .bento-44__lines
                        img(src="img/bento-44-lines.svg" alt="")
                    .bento-44__screen
                        .bento-44__inner
                        .bento-44__boxes
                            .bento-44__box
                                .bento-44__blocks
                                    span
                                    span
                                    span
                            .bento-44__box
                                .bento-44__blocks
                                    span
                                    span
                                    span
                    .bento-44__stand
                        .bento-44__foot
        .bento__details
            .bento__title AI Sentiment Analyzer
            .bento__content Utilize AI for precise analysis of emotions and sentiments in text.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle