// bento 58
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-58
                .bento-58__main
                    img(src="img/bento-58-main.svg" alt="")
                .bento-58__monitor
                    .bento-58__screen
                        .bento-58__inner
                        img(src="img/bento-58-video-editor.svg" alt="")
                        .bento-58__play
                            img(src="img/bento-58-play.svg" alt="")
                        .bento-58__boxes
                            .bento-58__box
                                .bento-58__progress
                            .bento-58__box
                                .bento-58__progress
                    .bento-58__stand
                        .bento-58__foot
        .bento__details
            .bento__title AI Video Creator
            .bento__content Create, edit, and animate videos effortlessly with AI technology.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle