// bento 37
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-37
                .bento-37__grid
                    img(src="img/bento-37-grid.svg" alt="")
                .bento-37__squares
                    .bento-37__square
                        span
                        span
                        span
                        span
                    .bento-37__square
                        span
                    .bento-37__square
                        .bento-37__ball
                            span
                            span
                            span
                    .bento-37__square
                        span
                    .bento-37__square
                        span
                        span
        .bento__details
            .bento__title Smart Home Automation
            .bento__content Control home devices with AI for smarter living.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle