// bento 57
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-57
                .bento-57__main
                    img(src="img/bento-57-main.svg" alt="")
                .bento-57__circles
                    .bento-57__circle
                    .bento-57__circle
                        span
                .bento-57__code
                    span 01111001 01110011
                .bento-57__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011
                .bento-57__monitor
                    .bento-57__screen
                        .bento-57__boxes
                            span
                            span
                            span
                            span
                    .bento-57__foot
                        img(src="img/bento-57-foot.svg" alt="")
                    .bento-57__foot
                        img(src="img/bento-57-foot.svg" alt="")
                .bento-57__icons
                    .bento-57__icon
                        img(src="img/bento-57-icon-1.svg" alt="")
                    .bento-57__icon
                        img(src="img/bento-57-icon-2.svg" alt="")
                        .bento-57__magnifier
                            img(src="img/bento-57-magnifier.svg" alt="")
                        .bento-57__magnifier
                            img(src="img/bento-57-magnifier.svg" alt="")
                    .bento-57__icon
                        img(src="img/bento-57-icon-3.svg" alt="")
                    .bento-57__icon
                        img(src="img/bento-57-icon-4.svg" alt="")
        .bento__details
            .bento__title AI-Integrated Search
            .bento__content Use AI to search and seamlessly integrate results from multiple apps.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle