// bento 51
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-51
                .bento-51__main
                    img(src="img/bento-51-main.svg" alt="")
                .bento-51__icons
                    .bento-51__icon
                        img(src="img/bento-51-flag.svg" alt="")
                    .bento-51__icon
                        .bento-51__in
                            .bento-51__pause
                    .bento-51__icon
                        img(src="img/bento-51-check.svg" alt="")
                .bento-51__monitor
                    .bento-51__screen
                        .bento-51__circle
                    .bento-51__foot
                        .bento-51__inner
                            .bento-51__block
                            .bento-51__lines
                                span
                                span
                                span
                    .bento-51__dots
                        img(src="img/bento-51-dots.svg" alt="")
                    .bento-51__toggle
                        img(src="img/bento-51-toggle.svg" alt="")
                .bento-51__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 <br><br>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000
        .bento__details
            .bento__title AI Content Mod
            .bento__content Automate content mod to ensure safe and appropriate online environments.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle