// bento 40
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-40
                .bento-40__grid
                    img(src="img/bento-40-grid.svg" alt="")
                .bento-40__monitor
                    .bento-40__screen
                        .bento-40__inner
                            .bento-40__balls
                                img(src="img/bento-40-balls.svg" alt="")
                            .bento-40__boxes
                                span
                                span
                                span
                                span
                                span
                                span
                                span
                            .bento-40__cursor
                                img(src="img/bento-40-cursor.svg" alt="")
                                .bento-40__tooltip
                                    span Bento
                    .bento-40__stand
                        .bento-40__foot
        .bento__details
            .bento__title Financial Analysis
            .bento__content Analyze financial data and predict trends with AI.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle