// bento 35
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-35
                .bento-35__image
                    img(src="img/bento-35.svg" alt="")
                .bento-35__dot
                    img(src="img/bento-35-toggle-indicator.svg" alt="")
        .bento__details
            .bento__title AI Dance Instructor
            .bento__content Learn dance moves with personalized AI guidance.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle