// bento 43
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-43
                .bento-43__grid
                    img(src="img/bento-43-grid.svg" alt="")
                .bento-43__circles
                    .bento-43__circle
                    .bento-43__circle
                .bento-43__center
                    .bento-43__toggle
                        img(src="img/bento-43-toggle.svg" alt="")
                .bento-43__line
                    img(src="img/bento-43-line.svg" alt="")
                .bento-43__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 <br><br>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011
        .bento__details
            .bento__title AI-Powered Data Transfer
            .bento__content Accelerate global data transfer with AI, ensuring fast and secure delivery.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle