// bento 45
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-45
                .bento-45__image
                    img(src="img/bento-45.svg" alt="")
                .bento-45__ball
                    span
                .bento-45__list
                    .bento-45__item
                        .bento-45__boxes
                            span
                            span
                            span
                    .bento-45__item
                        .bento-45__circle
                            span
                            span
                            span
                            span
                            span
                            span
                            span
                            span
                            span
                    .bento-45__item
                        img(src="img/bento-45-camera.svg" alt="")
        .bento__details
            .bento__title AI-Driven Communication
            .bento__content Enhance communication channels with AI for faster, clearer exchanges.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle