// bento 33
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-33
                img(src="img/bento-33.svg" alt="")
        .bento__details
            .bento__title Remove Background
            .bento__content Automatically remove backgrounds from images using AI technology.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle