// bento 52
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-52
                .bento-52__grid
                    img(src="img/bento-52-grid.svg" alt="")
                .bento-52__list
                    .bento-52__item
                        .bento-52__inner
                            .bento-52__boxes
                                span
                                span
                                span
                                span
                    .bento-52__item
                        .bento-52__inner
                    .bento-52__item
                        .bento-52__inner
                            .bento-52__boxes
                                span
                                span
                                span
                                span
                    .bento-52__item
                        .bento-52__inner
                            .bento-52__boxes
                                span
                                span
                                span
                    .bento-52__item
                        .bento-52__inner
                            .bento-52__boxes
                                span
                                span
                                span
                .bento-52__dots
                    span
                    span
                    span
                    span
                .bento-52__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 <br><br>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011
        .bento__details
            .bento__title AI Data Consolidation
            .bento__content Centralize and streamline all data inputs with AI for optimal efficiency.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle