// bento 53
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-53
                img(src="img/bento-53.svg" alt="")
        .bento__details
            .bento__title AI Commands Center
            .bento__content Automate frequent tasks with customized AI commands instantly.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle