// bento 59
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-59
                .bento-59__main
                    img(src="img/bento-59-main.svg" alt="")
                .bento-59__icons
                    .bento-59__icon
                        img(src="img/bento-59-icon-1.svg" alt="")
                    .bento-59__icon
                        img(src="img/bento-59-icon-2.svg" alt="")
                    .bento-59__icon
                        img(src="img/bento-59-icon-3.svg" alt="")
                    .bento-59__icon
                        img(src="img/bento-59-icon-4.svg" alt="")
                        .bento-59__circle
        .bento__details
            .bento__title AI Action Hub
            .bento__content Centralize and automate multiple tasks using AI-powered action buttons.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle