// bento 31
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-31
                .bento-31__grid
                    img(src="img/bento-31-grid.svg" alt="")
                .bento-31__circles
                    .bento-31__circle
                    .bento-31__circle
                        span
                .bento-31__code
                    span 01111001 01110011
                .bento-31__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011
                .bento-31__box
                    .bento-31__arrows
                        .bento-31__arrow
                            img(src="img/bento-31-arrow-1.svg" alt="")
                        .bento-31__arrow
                            img(src="img/bento-31-arrow-2.svg" alt="")
                    .bento-31__inner
                    .bento-31__dots
                        img(src="img/bento-31-dots.svg" alt="")
                    .bento-31__square
                        span 4x
                    .bento-31__block
                        span
        .bento__details
            .bento__title AI Upscale Image
            .bento__content Enhance your images up to 4x their original resolution with AI precision.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle