// bento 60
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-60
                .bento-60__main
                    img(src="img/bento-60-main.svg" alt="")
                .bento-60__monitor
                    .bento-60__screen
                        .bento-60__circle
                        .bento-60__dots
                            span
                            span
                            span
                        .bento-60__row
                            .bento-60__block
                                img(src="img/bento-60-stars.svg" alt="")
                            .bento-60__lines
                                span
                                span
                                span
                                span
                .bento-60__boxes
                    .bento-60__box
                        img(src="img/bento-60-star.svg" alt="")
                    .bento-60__box
                        .bento-60__lines
                            span
                            span
        .bento__details
            .bento__title AI Website Designer
            .bento__content Create stunning websites effortlessly with AI design assistance.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle