// bento 46
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-46
                .bento-46__main
                    img(src="img/bento-46-main.svg" alt="")
                .bento-46__block
                    .bento-46__inner
                        .bento-46__wrap
                            .bento-46__title AI
                            .bento-46__lines
                                span
                                span
                                span
                    .bento-46__robot
                        .bento-46__eyes
                            .bento-46__eye
                            .bento-46__eye
        .bento__details
            .bento__title Automated Customer Support
            .bento__content Provide immediate customer support with AI-powered automation.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle