// bento 32
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-32
                .bento-32__image
                    img(src="img/bento-32.svg" alt="")
                .bento-32__numbers <span>01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110</span><span>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011</span>
                .bento-32__cursor
                    img(src="img/bento-32-cursor.svg" alt="")
                    .bento-32__tooltip
                        span Drag & drop
        .bento__details
            .bento__title Drag and Drop
            .bento__content Easily drag and drop images for instant processing with AI.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle