// bento 48
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-48
                .bento-48__main
                    img(src="img/bento-48-main.svg" alt="")
                .bento-48__icons
                    .bento-48__icon
                        img(src="img/bento-48-icon-1.svg" alt="")
                    .bento-48__icon
                        img(src="img/bento-48-icon-2.svg" alt="")
        .bento__details
            .bento__title AI Personal Fitness Coach
            .bento__content Get personalized workout plans and track progress using AI insights.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle