// bento 39
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-39
                .bento-39__main
                    img(src="img/bento-39-main.svg" alt="")
                .bento-39__balls
                    img(src="img/bento-39-balls.svg" alt="")
                .bento-39__numbers <span>01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110</span><span>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011</span>
                .bento-39__circles
                    .bento-39__circle
                        .bento-39__inner
                        .bento-39__ball
                            span
                            span
                    .bento-39__circle
                        .bento-39__inner
                    .bento-39__circle
                        .bento-39__inner
                        .bento-39__ball
                            span
                                span
                            span
                                span
                .bento-39__center
                    .bento-39__boxes
                        span
                        span
                        span
                        span
        .bento__details
            .bento__title GPT-4o Assistants
            .bento__content Create interactive and helpful virtual assistants using AI.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle