// bento 41
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-41
                .bento-41__grid
                    img(src="img/bento-41-grid.svg" alt="")
                .bento-41__circles
                    .bento-41__circle
                        span
                        span
                        span
                        span
                    .bento-41__circle
                        span
                        span
                        span
                .bento-41__numbers
                    span 01000010 01100101 01101110 01110100 01101111 00100000 01000100 01100101 01110011 01101001 01100111 01101110 <br><br>00100000 01010011 01111001 01110011 01110100 01100101 01101101 00111010 00100000 01000011 01100001 01110010 01100100 01110011
                .bento-41__monitor
                    .bento-41__screen
                        .bento-41__inner
                            .bento-41__boxes
                                span
                                span
                                span
                    .bento-41__square
                        .bento-41__in
                        .bento-41__play
                            img(src="img/bento-41-play.svg" alt="")
                        .bento-41__dots
                            img(src="img/bento-41-dots.svg" alt="")
                    .bento-41__foot
                        img(src="img/bento-41-foot.svg" alt="")
                    .bento-41__foot
                        img(src="img/bento-41-foot.svg" alt="")
                .bento-41__balls
                    .bento-41__ball
                        span
                    .bento-41__ball
                        span
        .bento__details
            .bento__title AI in Education
            .bento__content Enhance learning experiences with AI-powered educational tools.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle